*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px 30px 30px 30px;
    background-color: #394048;
}

.app-body{
    display: flex;
    margin-top: 20px;
}

.app-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fad87b;
    border-bottom: 2px solid #fad87b;
    padding-bottom: 15px;
}

.app-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo{
    display: flex;
}

.app-logo img{
    width: 80px;
    height: 60px;
}

.logo-title{
    margin-left: 10px;
}

.logo-title .title{
    font-size: 30px;
    font-weight: 800;
}

.logo-title .caption{
    font-size: 15px;
}

.side-bar{
    flex: 1;
}

.repo-list{
    flex: 3;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo-item{
    flex-basis: calc(50% - 20px);
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
}

.repo-title{
    font-weight: 700;
}

.repo-title a{
    text-decoration: none;
    color: black;
}

.repo-item p{
    margin-top: 10px;
}

.search-bar{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    width: calc(100% - 20px);
}

.history{
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    color: white;
}

.history-title{
    font-size: 18px;
    padding: 8px 0 8px;
}

.history-item{
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    .repo-item{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 700px) {
    .app-body{
        flex-direction: column;
    }
    .repo-item{
        margin: 10px 0;
    }
    .repo-list{
        margin-left: 0;
    }
    .history{
        margin-bottom: 10px;
    }
}
